extends masterLayout
block head
	style .btn {margin-right: 10px} .ff { width: 100% !important; padding: 15px; margin: 5px 0 }

block body

	.col-sm-2
		img#logo(src='/images/lg.png')
		legend(style='color:#fff') Mater Droadboad
		label(style='color:#fff') Câu hỏi (1 - #{quest.length})
		input.form-control.ff(type='number', id='questNum')
		button.btn.btn-info.ff(id='start') Bắt đầu
		br
		button.btn.btn-primary.ff#end Đáp án
		br
		a.btn.btn-danger.ff(href='/o') logout

	.col-sm-5
		#statTime(style='color:#fff') 10s
		#questBox(style='padding: 30px; margin: 20px' ) Nhấn 2 lần vào đáp án để trả lời

		#answerBox
			#a.answer(style='padding: 20px 30px; margin: 20px' ) A:
			#b.answer(style='padding: 20px 30px; margin: 20px' ) B:
			#c.answer(style='padding: 20px 30px; margin: 20px' ) C:
			#d.answer(style='padding: 20px 30px; margin: 20px' ) D:
		
	.col-sm-5
		.panel.panel-default
			.panel-heading BXH
			.panel-body(style="max-height: calc(100vh - 120px);overflow: auto;padding: 0; margin-top:-1px")
				table.table.table-hover
					tbody#listUsers

		//- chat
		#chatBox
			span#chatAnchor.glyphicon.glyphicon-chevron-up
			#chatContent
				#chatMeg
			.input-group#ig
				span.input-group-btn
					input.form-control(type='text', id='meg', placeholder='Nhập tin nhắn...')
					button.btn.btn-default(id='send') Gửi

block footer
	script var max = #{quest.length}
	script(src='/javascripts/master.js')
